#site-width {
    width: 930px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* HEADER */
header {
    position: relative;
    height: 74px;
}

#logo, #slogan, #phone-icon-right, #phone-icon-left, #phone-numbers {
    position: absolute;
}

#logo {
    top: 8px;
    left: 23px;
    width: 72px;
    height: 54px;
    background: url("images/a2xlogo_topleft.png") top left no-repeat;
    background-size: 72px 54px;
}

#slogan {
    top: 31px;
    left: 98px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.0265em;
}

#phone-icon-right {
    top: 17px;
    right: 139px;
    width: 40px;
    height: 40px;
    background: url("images/header_phone_black.png") top left no-repeat;
    background-size: 35px 35px;
}

#phone-numbers {
    top: 20px;
    right: 22px;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 15px;
}

#phone-numbers div {
    color: #ff9801;
}

#call-us {
    padding-top: 17px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    display: none;
    letter-spacing: 0.045em;
}

#call-us a {
    color: #fff;
    text-decoration: none;
}
/* end HEADER */

/* ELEMENTS */
.separator {
    background: #b2d136 url("images/bg.png");
    font-size: 23px;
    padding: 10px 0 9px 22px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1), 1px 0px 2px rgba(255,255,255,0.8);
    letter-spacing: 0.035em;
}

.relative {
    position: relative;
}

.hide-on-desktop {
    display: none;
}
/* end ELEMENTS */

/* ORDER CONFIRMATION */
h1 {
    font-weight: bold;
    font-size: 24px;
    padding-top: 25px;
    text-align: center;
    letter-spacing: -0.004em;
}

h1 span{
    color: #ff8d00;
}

#receipt {
    float: left;
    margin: 26px -98px 20px 17.7%;
}

#order-info {
    text-align: center;
    padding: 47px 0 87px 0;
    font-weight: 600;
}

a {
    color: #0033ff;
}

.receipt-main, .receipt-retina, .receipt-ipad {
    width: 137px;
}

.receipt-retina, .receipt-ipad {
    display: none;
}

.panicaway-retina, .panicaway-ipad {
    display: none;
}
/* end ORDER CONFIRMATION */

/* VIDEO */
#video-block {
    background: #ffffcc url("images/bg.png");
    text-align: center;
    padding-top: 26px;
    padding-bottom: 26px;
    font-weight: bold;
    letter-spacing: -0.025em;
    line-height: 18px;
    border: 1px solid #b8b892;
    border-top: none;
}

#video-block span {
    color: #ff8d00;
    font-size: 19px;
    letter-spacing: -0.033em;
}

#video {
    position: relative;
    margin: 0 auto;
    width: 482px;
    height: 274px;
    margin-top: 25px;
}

#video img {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1999;
}
/* end VIDEO */

/* FOOTER */
#footer {
    position: relative;
    padding-bottom: 37px;
}

#footer div {
    position: absolute;
    background: url("images/satisfactionguaranteed.png") no-repeat;
    background-size: cover;
    top: 12px;
    left: 1.8%;
    width: 78px;
    height: 78px;
}

#footer p {
    font-size: 12px;
    padding: 36px 0 0 103px;
    letter-spacing: -0.01em;
    line-height: 11px;
}

#footer span {
    height: 12px;
    display: block;
}
/* end FOOTER */

@media screen and (min-width:930px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 930px),
only screen and (-omin-device-pixel-ratio: 2/1) and (min-width:930px),
only screen and (min-device-pixel-ratio: 2) and (min-width:930px),
only screen and (min-resolution: 192dpi) and (min-width: 930px),
only screen and (min-resolution: 2dppx) and (min-width:930px) {
    #logo {
        background: url("images/a2xlogo_topleft@2x.png") top left no-repeat;
    }

    #phone-icon-right {
        background: url("images/header_phone_black@2x.png") top left no-repeat;
    }

    #footer div {
        background: url("images/satisfactionguaranteed@2x.png") no-repeat;
    }

    #receipt-main, #receipt-ipad {
        display: none;
    }

    #receipt-retina {
        display: block;
    }

    #panicaway-main, #panicaway-ipad {
        display: none;
    }

    #panicaway-main {
        display: none;
    }
}

@media screen and (min-width: 730px) and (max-width : 929px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 730px) and (max-width : 929px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 730px) and (max-width : 929px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 730px) and (max-width : 929px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 730px) and (max-width : 929px),
only screen and (min-resolution: 192dpi) and (min-width: 730px) and (max-width : 929px),
only screen and (min-resolution: 2dppx) and (min-width: 730px) and (max-width : 929px) {
    #logo {
        background: url("images/a2xlogo_topleft@ipad.png") top left no-repeat;
    }

    #phone-icon-right {
        background: url("images/header_phone_black@2x.png") top left no-repeat;
    }

    #footer div {
        background: url("images/satisfactionguaranteed@ipad.png") no-repeat;
    }

    #receipt-main, #receipt-retina {
        display: none;
    }

    #receipt-ipad {
        display: block;
    }

    #panicaway-main, #panicaway-retina {
        display: none;
    }

    #panicaway-ipad {
        display: none;
    }
}

@media screen and (min-width: 730px) and (max-width: 929px) {
    #site-width {
        width: 100%;
    }

    #order-info {
        font-size: 14px;
    }

    #receipt {
        margin: 26px -11px 20px 17.7%;
    }
}

@media screen and (max-width: 729px) {

    #site-width {
        width: 100%;
    }

    .hide-on-mobile {
        display: none;
    }

    .hide-on-desktop {
        display: block;
    }

    header {
        height: 39px;
    }

    #logo {
        top: 4px;
        left: 4px;
        width: 42px;
        height: 31px;
        background-size: cover;
    }

    #slogan {
        top: 17px;
        left: 47px;
    }

    #phone-icon-right {
        top: 12px;
        right: 118px;
        width: 17px;
        height: 17px;
        background-size: cover;
    }

    #phone-numbers {
        top: 13px;
        right: 2px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.05em;
        overflow: hidden;
        height: 15px;
    }

    h1 {
        font-size: 14px;
        letter-spacing: -0.03em;
    }

    .separator {
        font-size: 18px;
        padding: 12px 0 11px 0;
        text-align: center;
    }

    #order-info {
        padding: 10px 24px 37px 0;
        font-size: 12px;
        line-height: 18px;
        min-height: 100px;
    }

    #order-info img {
        margin: 15px 8px 8px 8px;
        width: 84px;
        float: left;
    }

    #order-info-br {
        height: 21px;
    }

    #video-block {
        padding-top: 17px;
        font-size: 14px;
        line-height: 17px;
    }

    #video-block span {
        font-size: 16px;
        letter-spacing: -0.0em;
        display: block;
        width: 201px;
        margin: 0 auto;
        line-height: 20px;
    }
    
    #video {
        width: 303px;
        margin-top: 18px;
        height: 166px;
    }

    #video img {
        width: 100%;
    }

    #footer div {
        top: 25px;
        left: 6px;
        width: 50px;
        height: 50px;
    }

    #footer p {
        font-size: 10px;
        padding: 24px 0 0 62px;
        letter-spacing: -0.065em;
        line-height: 11px;
    }
}