#site-width {
    width: 930px;
    margin: 0 auto;
    overflow: hidden;
}

.row {
    margin-bottom: 10px;
}

.row:after, .row:before {
    display: table;
    content: " ";
}

.span-65, .span-50, .span-35 {
    float: left;
}

.span-100 {
    width: 100%;
}

.span-65 {
    width: 65%;
}

.span-50 {
    width: 50%;
}

.span-35 {
    width: 35%;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* HEADER */
header {
    position: relative;
    height: 74px;
}

#logo, #slogan, #phone-icon-right, #phone-icon-left, #phone-numbers {
    position: absolute;
}

#logo {
    top: 8px;
    left: 23px;
    width: 72px;
    height: 54px;
    background: url("images/a2xlogo_topleft.png") top left no-repeat;
}

#slogan {
    top: 31px;
    left: 98px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.0265em;
}

#phone-icon-left {
    top: 7px;
    left: 10px;
    width: 43px;
    height: 43px;
    background: url("images/header_phone_white.png") top left no-repeat;
    display: none;
}

#phone-icon-right {
    top: 17px;
    right: 139px;
    width: 40px;
    height: 40px;
    background: url("images/header_phone_black.png") top left no-repeat;
    background-size: 35px 35px;
}

#phone-numbers {
    top: 20px;
    right: 22px;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 15px;
}

#phone-numbers div {
    color: #ff9801;
}

#call-us {
    padding-top: 17px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    display: none;
    letter-spacing: 0.045em;
}
/* end HEADER */

/* CHECKOUT TYPE */
#checkout-type-wrap {
    padding-top: 10px;
    margin-bottom: 0;
    background: #ffffcc url("images/bg.png");
}

#checkout-type-separator {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 45px;
    background: url("images/checkout_separator.png") top center repeat-y;
    background-size: 56px 44px;
    z-index: 1999;
}

.checkout-header {
    position: relative;
    padding: 8px 0 7px 0px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.003em;
}

#type14 .checkout-header {
    padding-left: 38%;
    background: #ffb04f;
}

#type30 .checkout-header {
    padding-left: 9.1%;
    background: #b2d136 url("images/bg.png");
}

.checkout-bottle {
    position: absolute;
    top: 14px;
    width: 145px;
    height: 224px;
}

#type14 .checkout-bottle {
    left: 0;
    background: url("images/bottle_shadowleft.png");
    background-size: cover;
}

#type30 .checkout-bottle {
    right: 0;
    background: url("images/bottle_shadowright.png");
    background-size: cover;
}

#type14 ul {
    padding: 52px 23px 20px 38%;
}

#type30 ul {
    padding: 52px 160px 20px 10%;
}

#type14 li, #type30 li, #you-selected li {
    font-size: 15px;
    list-style: none;
    background: url("images/greencheck.png") top left no-repeat;
    background-size: 26px 25px;
    padding: 10px 0 0 33px;
    margin-bottom: 5px;
    letter-spacing: 0.025em;
}

#type30 li {
    line-height: 17px;
}

.checkout-price {
    position: absolute;
    top: 62px;
}

#type14 .checkout-price {
    left: 37%;
}

#type30 .checkout-price {
    left: 8%;
}

.checkout-price span {
    font-size: 20px;
    padding-left: 2px;
}

.checkout-info {
    position: absolute;
    top: 57px;
    color: #ee861e;
    text-align: center;
    width: 155px;
}

#type14 .checkout-info {
    left: 64.5%;
    line-height: 18px;
}

#type30 .checkout-info {
    left: 35.1%;
}
/* end CHECKOUT TYPE */


/* YOU SELECTED */
#selected-bottle {
    position: absolute;
    top: 14px;
    width: 145px;
    height: 224px;
    left: 0;
    background: url("images/bottle_shadowleft.png");
    background-size: cover;
}

#selected-title {
    padding: 6.1% 0 0 30.3%;
    font-weight: 600;
    letter-spacing: -0.04em;
}

#selected-title p {
    padding-top: 3%;
    font-size: 131%;
    letter-spacing: -0.015em;
}

#selected-info {
    padding: 4.4% 0 6.9% 30.3%;
}

#satisfaction-guarantee {
    position: absolute;
    top: 7%;
    left: 62.2%;
    width: 78px;
    height: 78px;
    background: url("images/satisfactionguaranteed.png") top left no-repeat;
    background-size: cover;
}
/* end YOU SELECTED */

/* FORM */

.input-row {
    position: relative;
    margin: 0 0 10px 19px;
    padding-left: 40px;
}

.input-row input {
    width: 57%;
    background: #eeeeee url("images/input_bg.png") -160px 0 repeat-x;
    background-size: 474px 37px;
    color: #666666;
    border: 1px solid #e6e6e6;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    letter-spacing: -0.019em;
    padding: 10px 0 9px 19px;
    margin: 0;
}

.input-not-empty {
    background-position: -160px 0 !important;
}

.input-row p {
    position: absolute;
    top: 4px;
    left: 65%;
    color: red;
}

.js-enabled .input-row p {
    display: none;
}

#input-name {
    background-position: 10px 0;
}

#input-address {
    background-position: -26px 0;
}

#input-city {
    background-position: -100px 0;
}

#input-card {
    background-position: 64px 0;
}

#input-expdate {
    background-position: -19px 0;
}

#input-name:focus {
    background-position: -160px 0 repeat-x;
}

.input-row div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url("images/input_bkgrd_off.png") top left no-repeat;
    background-size: cover;
}

.input-row.red div {
    background-image: url("images/input_bkgrd_error.png");
    width: 46px;
    background-size: 46px 40px;
}

.input-row.blue div {
    background-image: url("images/input_bkgrd_on.png");
    width: 46px;
    background-size: 46px 40px;
}

.input-row.red input {
    border: 1px solid #da2c2c;
}

.input-row.blue input {
    border: 1px solid #008bff;
}

i.icon {
    display: block;
    width: 40px;
    height: 40px;
    background-size: 40px 40px !important;
}

i.icon-name {
    background: url("images/input_icon-name.png") top left no-repeat;
}

i.icon-phone {
    background: url("images/input_icon-phone.png") top left no-repeat;
}

i.icon-email {
    background: url("images/input_icon-email.png") top left no-repeat;
}

i.icon-country {
    background: url("images/input_icon-country.png") top left no-repeat;
}

i.icon-address {
    background: url("images/input_icon-address.png") top left no-repeat;
}

i.icon-city {
    background: url("images/input_icon-city.png") top left no-repeat;
}

i.icon-state {
    background: url("images/input_icon-state.png") top left no-repeat;
}

i.icon-zipcode {
    background: url("images/input_icon-zipcode.png") top left no-repeat;
}

i.icon-cardnumber {
    background: url("images/input_icon-cardnumber.png") top left no-repeat;
}

i.icon-expdate {
    background: url("images/input_icon-expdate.png") top left no-repeat;
}

#payment-info {
    position: relative;
}

#payment-cards {
    padding: 5px 0 11px 59px;
}

#payment-cards div {
    margin-right: 7px;
}

#visa, #mastercard, #discover, #amex {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 62px;
    height: 42px;
    background-image: url("images/card_set.png");
    background-size: 499px 42px;
}

#visa {
    background-position: 123px 0;
}

#visa.disabled {
    background-position: 62px 0;
}

#mastercard {
    background-position: 248px 0;
}
#mastercard.disabled {
    background-position: 187px 0;
}

#discover {
    background-position: -126px 0;
}

#discover.disabled {
    background-position: -186px 0;
}

#amex {
    background-position: -1px 0;
}

#amex.disabled {
    background-position: -561px 0;
}

#mcafee {
    position: absolute;
    top: 1px;
    left: 446px;
    background-image: url("images/mcafee.png");
    width: 105px;
    height: 42px;
    background-size: cover;
}

#bca {
    position: absolute;
    top: 73px;
    left: 431px;
    background-image: url("images/bca.png");
    width: 137px;
    height: 78px;
    background-size: cover;
}

#terms-block {
    position: relative;
    padding: 6px 0 0 28px;
    font-size: 12px;
}

#terms-block input {
    margin-right: 17px;
}

#terms-block p {
    padding: 5px 0 50px 37px;
}

#required-fields {
    position: absolute;
    top: 75px;
    left: 20px;
    font-size: 12px;
}
/* end FORM */

/* CONFIRM ORDER */
#complete-order {
    text-align: center;
    border-top: 1px solid #afaf8d;
    border-bottom: 1px solid #afaf8d;
    background: url("images/bg.png");
    padding-bottom: 15px;
}

#complete-order p {
    padding: 17px 0 2px 39px;
    text-align: center;
    background: url("images/lock.png") no-repeat 375px 11px;
    background-size: 27px 26px;
    letter-spacing: -0.04em;
}

#complete-order div {
    text-align: center;
    padding: 27px 0 11px 0;
    font-size: 17px;
}

#complete-order div b {
    padding-left: 37px;
}

#complete-order button {
    background-image: linear-gradient(to top, #ff761a, #e55c00);
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 23px;
    padding: 8px 42px 8px 42px;
    border-radius: 5px;
    cursor: pointer;
}
/* end CONFIRM ORDER */

/* FOOTER */
#footer {
    position: relative;
    height: 100px;
}

#footer p {
    font-size: 12px;
    padding: 36px 0 0 103px;
    letter-spacing: -0.01em;
    line-height: 22px;
}

#footer div {
    position: absolute;
    top: 14px;
    left: 1.3%;
    background-image: url("images/satisfactionguaranteed.png");
    background-size: 78px 78px;
    width: 78px;
    height: 78px;
}

#footer span {
    display: block;
}
/* end FOOTER */

/* ORDER SUMMARY */
#order-summary {
    background: url("images/bg.png");
    border: 1px solid #b4b4b4;
}

#order-summary-title {
    padding: 15px 0 0 13.5%;
    font-size: 20px;
    background: url("images/order_summary_arrow.png") 10px 16px no-repeat;
    background-size: 21px 18px;
}

#order-summary-text {
    padding: 13px 13px 13px 11px;
    line-height: 14px;
    font-size: 12px;
}

#order-summary .row {
    border-top: 1px solid #666;
    padding: 12px 15px 6px 9px;
    font-size: 17px;
    line-height: 31px;
}

#order-totals {
    padding-top: 31px;
    border-bottom: 1px solid #666;
}

#shipping-info {
    padding: 7px 0 7px 23px;
}
/* end ORDER SUMMARY */

/* ELEMENTS */
.separator {
    background: #b2d136 url("images/bg.png");
    font-size: 23px;
    padding: 10px 0 9px 22px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1), 1px 0px 2px rgba(255,255,255,0.8);
    letter-spacing: 0.035em;
}

.separator-orange {
    background-color: #ee861e;
    margin: 19px 0 19px 0;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.checkbox {
    background: url("images/checkbox_set.png") top left no-repeat;
    width: 33px;
    height: 33px;
    display: block;
    cursor: pointer;
    z-index: 2999;
}

.checked {
    background-position: -33px 0;
}

.checkbox-14 {
    position: absolute;
    top: 6px;
    left: 81.3%;
}

.checkbox-30 {
    position: absolute;
    top: 6px;
    left: 57.5%;
}

.margin-bottom {
    margin-bottom: 10px;
}

.padding-right {
    padding-right: 20px;
}

.text-right {
    text-align: right;
}

.hide-on-desktop {
    display: none;
}
/* end ELEMENTS */

/* Replace images for retina displays */
@media screen and (-webkit-min-device-pixel-ratio:2), screen and (min--moz-device-pixel-ratio: 2) {

    #logo, #phone-icon-left, .checkbox {
        background-size: cover;
    }

    #logo {
        background-image: url("images/a2xlogo_topleft@2x.png");
    }

    #phone-icon-left {
        background-image: url("images/header_phone_white@2x.png");
    }

    #phone-icon-right {
        background-image: url("images/header_phone_black@2x.png");
    }

    #checkout-type-separator {
        background-image: url("images/checkout_separator@2x.png");
    }

    #type14 .checkout-bottle {
        background-image: url("images/bottle_shadowleft@2x.png");
    }

    #type30 .checkout-bottle {
        background-image: url("images/bottle_shadowright@2x.png");
    }

    #type14 li, #type30 li, #you-selected li {
        background-image: url("images/greencheck@2x.png");
    }

    .checkbox {
        background-image: url("images/checkbox_set@2x.png");
    }

    #selected-bottle {
        background-image: url("images/bottle_shadowleft@2x.png");
    }

    .input-row input {
        background-image: url("images/input_bg@2x.png");
    }

    #input-name:focus {
        background-position: -320px 0 repeat-x;
    }

    .input-row div {
        background-image: url("images/input_bkgrd_off@2x.png");
    }

    i.icon-name {
        background-image: url("images/input_icon-name@2x.png");
    }

    i.icon-phone {
        background: url("images/input_icon-phone@2x.png");
    }

    i.icon-email {
        background: url("images/input_icon-email@2x.png");
    }

    i.icon-country {
        background: url("images/input_icon-country@2x.png");
    }

    i.icon-address {
        background: url("images/input_icon-address@2x.png");
    }

    i.icon-city {
        background: url("images/input_icon-city@2x.png");
    }

    i.icon-state {
        background: url("images/input_icon-state@2x.png");
    }

    i.icon-zipcode {
        background: url("images/input_icon-zipcode@2x.png");
    }

    i.icon-cardnumber {
        background: url("images/input_icon-cardnumber@2x.png");
    }

    i.icon-expdate {
        background: url("images/input_icon-expdate@2x.png");
    }

    #visa, #mastercard, #discover, #amex {
        background-image: url("images/card_set@2x.png");
    }

    #mcafee {
        background-image: url("images/mcafee@2x.png");
    }

    #bca {
        background-image: url("images/bca@2x.png");
    }

    #complete-order p {
        background-image: url("images/lock@2x.png");
    }

    #footer div {
        background-image: url("images/satisfactionguaranteed@2x.png");
    }

    #order-summary-title {
        background-image: url("images/order_summary_arrow@2x.png");
    }

    .input-row.red div {
        background-image: url("images/input_bkgrd_error@2x.png");
    }

    .input-row.blue div {
        background-image: url("images/input_bkgrd_on@2x.png");
    }
}
/* end Replace images for retina displays */

@media screen and (min-width: 731px) and (max-width: 930px) {

    #site-width {
        width: 930px;
    }
}

@media screen and (min-width: 700px) and (max-width: 730px) {

    #site-width {
        width: 730px;
    }
}

@media screen and (max-width: 320px) {

    #site-width {
        width: 100%;
    }

    .row {
        margin-bottom: 0;
    }

    .span-65, .span-50, .span-35 {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    /* HEADER */
    header {
        height: 60px;
        background: #ffcc00;
        background: linear-gradient(to bottom, #fed325, #d9ae00);
        margin-bottom: 10px;
    }

    #phone-icon-left, #call-us {
        display: block;
    }

    #logo, #slogan, #phone-icon-right, #phone-numbers, #checkout-type-separator {
        display: none;
    }
    /* end HEADER */

    /* CHECKOUT TYPE */
    .checkout-header {
        font-size: 20.66px;
        padding: 6px 0 5px 38% !important;
        font-weight: 500;
        letter-spacing: 0em;
    }

    #type30 .checkout-header {
        padding-left: 8.7% !important;
        letter-spacing: 0.025em;
    }

    .checkout-bottle {
        top: 11px;
        left: -3px !important;
        width: 100px;
        height: 154px;
    }

    #type30 .checkout-bottle {
        left: 69.5% !important;
    }

    .checkout-price {
        font-size: 12px;
        top: 43px;
        letter-spacing: -0.05em;
    }

    #type14 .checkout-price {
        left: 37%;
    }

    .checkout-price span {
        font-size: 15px;
    }

    .checkout-info {
        top: 37px;
        line-height: 14px;
        font-size: 11px;
    }

    #type14 .checkout-info {
        left: 66.5%;
    }

    #type14 li, #type30 li {
        font-size: 11px;
        background-image: url("images/greencheck_mobile.png");
        padding: 5px 0 0 23px;
    }

    #type30 li {
        line-height: 13px;
    }

    #type14 ul {
        padding: 36px 0 1px 38%;
    }

    #type30 ul {
        padding: 35px 95px 11px 10%;
    }

    #type14 .checkout-info {
        font-size: 11px;
        line-height: 14px;
        width: 90px;
    }

    #type30 .checkout-info {
        left: 28.5%;
    }

    /* end CHECKOUT TYPE */

    /* ELEMENTS */
    .hide-on-mobile {
        display: none;
    }

    .hide-on-desktop {
        display: block;
    }

    .separator {
        padding: 12px 0 12px 0;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.015em;
    }

    .separator-orange {
        text-align: left;
        padding-left: 16px;
    }

    .checkbox-14, .checkbox-30 {
        top: 5px;
        width: 22px;
        height: 22px;
        background-size: cover;
    }

    .checkbox-30 {
        left: 58%;
    }

    .checked {
        background-position: -23px;
    }

    .padding-right {
        padding: 0;
    }
    /* end ELEMENTS */

    /* YOU SELECTED */
    #selected-bottle {
        width: 100px;
        height: 154px;
        top: 0;
    }

    #selected-title {
        font-size: 71%;
        padding: 16px 0 0 34%;
    }

    #selected-title p {

    }

    #selected-info {
        width: 70%;
        padding: 20px 0 0 34%;
    }

    #satisfaction-guarantee {
        top: 6px;
        left: 73%;
        width: 52px;
        height: 52px;
    }

    #you-selected li {
        font-size: 11px;
        background-image: url("images/greencheck_mobile.png");
        padding: 5px 0 0 23px;
        font-weight: 600;
        letter-spacing: -0.05em;
    }

    #order-totals .span-50 {
        width: 50%;
    }

    #total-left {
        position: absolute;
        top: 172px;
        left: 7%;
        font-size: 18px;
        line-height: 30px;
    }

    #total-right {
        position: absolute;
        top: 173px;
        font-size: 18px;
        line-height: 29px;
        right: 20px;
    }

    #total-text {
        padding: 160px 10px 46px 10px;
        font-size: 12px;
        line-height: 1.16em;
    }

    #total-text hr {
        margin-bottom: 13px;
    }
    /* end YOU SELECTED */

    /* FORM */
    .input-row {
        margin: 0 0 10px 6px;
    }

    .input-row input {
        width: 90%;
    }

    #contact-info {
        margin-top: 8px;
        margin-bottom: 17px;
    }

    #payment-cards {
        padding: 2px 0 11px 19px;
    }

    #footer div {
        background-size: cover;
        top: 28%;
        left: 1.5%;
        width: 52px;
        height: 52px;
    }

    #footer p {
        font-size: 9px;
        padding: 27px 0 0 61px;
        letter-spacing: -0.04em;
        line-height: 11px;
    }

    #footer span {
        height: 12px;
    }

    #terms-block input {
        margin: 6px 15px 0 -8px;
    }

    #terms-block p {
        padding: 5px 0 43px 24px;
        line-height: 14px;
    }

    #required-fields {
        top: 102px;
        left: 7px;
    }

    #complete-order p {
        background-position: 23% 11px;
    }
    /* end FORM */
}

@media screen and (min-width: 930px) and (-webkit-min-device-pixel-ratio:2), screen and (min-width: 930px) and (min--moz-device-pixel-ratio: 2) {

}
/* end MEDIA QUERIES */