#site-width {
    width: 930px;
    margin: 0 auto;
}

.row {
    margin-bottom: 10px;
}

.row:after, .row:before {
    display: table;
    content: " ";
}

.span-65, .span-50, .span-35 {
    float: left;
}

.span-65 {
    width: 65%;
}

.span-50 {
    width: 50%;
}

.span-35 {
    width: 35%;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* HEADER */
header {
    position: relative;
    height: 74px;
}

#logo, #slogan, #phone-icon-right, #phone-icon-left, #phone-numbers {
    position: absolute;
}

#logo {
    top: 8px;
    left: 23px;
    width: 71px;
    height: 53px;
    background: url("images/a2xlogo_topleft.png") top left no-repeat;
}

#slogan {
    top: 31px;
    left: 97px;
    font-weight: bold;
}

#phone-icon-left {
    top: 7px;
    left: 10px;
    width: 43px;
    height: 43px;
    background: url("images/header_phone_white.png") top left no-repeat;
    display: none;
}

#phone-icon-right {
    top: 17px;
    right: 155px;
    width: 40px;
    height: 40px;
    background: url("images/header_phone_black.png") top left no-repeat;
}

#phone-numbers {
    top: 21px;
    right: 22px;
    font-weight: bold;
}

#phone-numbers div {
    color: #ff9801;
}

#call-us {
    padding-top: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    display: none;
}
/* end HEADER */

/* CHECKOUT TYPE */
#checkout-type-wrap {
    padding-top: 10px;
    margin-bottom: 0;
    background: #ffffcc url("images/bg.png");
}

#checkout-type-separator {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 49px;
    background: url("images/checkout_separator.png") top center repeat-y;
    z-index: 1999;
}

.checkout-header {
    position: relative;
    padding: 10px 0 9px 0px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

#type14 .checkout-header {
    padding-left: 38.8%;
    background: #ffb04f;
}

#type30 .checkout-header {
    padding-left: 9.5%;
    background: #b2d136 url("images/bg.png");
}

.checkout-bottle {
    position: absolute;
    top: 10px;
    width: 145px;
    height: 224px;
}

#type14 .checkout-bottle {
    left: 0;
    background: url("images/bottle_shadowleft.png");
    background-size: cover;
}

#type30 .checkout-bottle {
    right: 0;
    background: url("images/bottle_shadowright.png");
    background-size: cover;
}

#type14 ul {
    padding: 52px 48px 20px 201px;
}

#type30 ul {
    padding: 52px 194px 20px 73px;
}

#type14 li, #type30 li {
    font-size: 15px;
    list-style: url("images/greencheck.png") outside;
}

.checkout-price {
    position: absolute;
    top: 63px;
}

#type14 .checkout-price {
    left: 37%;
}

#type30 .checkout-price {
    left: 38px;
}

.checkout-price span {
    font-size: 20px;
}

.checkout-info {
    position: absolute;
    top: 57px;
    color: #ee861e;
    text-align: center;
    width: 150px;
}

#type14 .checkout-info {
    left: 68%;
}

#type30 .checkout-info {
    left: 35.5%;
}
/* end CHECKOUT TYPE */

/* ELEMENTS */
.separator {
    background: #b2d136 url("images/bg.png");
    font-size: 24px;
    font-weight: bold;
    padding: 13px 0 13px 23px;
    color: #fff;
    text-shadow: -1px -1px 6px rgba(255,255,255,0.8);
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.checkbox {
    background: url("images/checkbox_set.png") top left no-repeat;
    width: 33px;
    height: 33px;
    display: block;
    cursor: pointer;
    z-index: 2999;
}

.checked {
    background-position: -33px 0;
}

.checkbox-14 {
    position: absolute;
    top: 9px;
    left: 81.3%;
}

.checkbox-30 {
    position: absolute;
    top: 9px;
    left: 58%;
}
/* end ELEMENTS */

/* Replace images for retina displays */
@media screen and (-webkit-min-device-pixel-ratio:2), screen and (min--moz-device-pixel-ratio: 2) {

    #logo, #phone-icon-left, #phone-icon-right, #checkout-type-separator, #type14 li, #type30 li, .checkbox {
        background-size: cover;
    }

    #logo {
        background-image: url("images/a2xlogo_topleft@2x.png");
    }

    #phone-icon-left {
        background-image: url("images/header_phone_white@2x.png");
    }

    #phone-icon-right {
        background-image: url("images/header_phone_black.png");
    }

    #checkout-type-separator {
        background-image: url("images/checkout_separator@2x.png");
    }

    #type14 .checkout-bottle {
        background-image: url("images/bottle_shadowleft@2x.png");
    }

    #type30 .checkout-bottle {
        background-image: url("images/bottle_shadowright@2x.png");
    }

    #type14 li, #type30 li {
        background-image: url("images/greencheck@2x.png");
    }

    .checkbox {
        background-image: url("images/checkbox_set@2x.png");
    }
}
/* end Replace images for retina displays */

@media screen and (min-width: 731px) and (max-width: 930px) {

    #site-width {
        width: 930px;
    }
}

@media screen and (min-width: 700px) and (max-width: 730px) {

    #site-width {
        width: 730px;
    }
}

@media screen and (max-width: 320px) {

    #site-width {
        width: 100%;
    }

    .row {
        margin-bottom: 0;
    }

    .span-65, .span-50, .span-35 {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    /* HEADER */
    header {
        height: 60px;
        background: #ffcc00;
        background: linear-gradient(to bottom, #fed325, #d9ae00);
        margin-bottom: 10px;
    }

    #phone-icon-left, #call-us {
        display: block;
    }

    #logo, #slogan, #phone-icon-right, #phone-numbers, #checkout-type-separator {
        display: none;
    }
    /* end HEADER */

    /* CHECKOUT TYPE */
    .checkout-header {
        font-size: 20.66px;
    }

    .checkout-bottle {
        width: 94px;
        height: 145px;
    }

    #type14 li, #type30 li {
        font-size: 11px;
    }

    #type14 ul {
        padding: 52px 0 20px 140px;
    }

    #type30 ul {
        padding: 52px 194px 20px 73px;
    }

    #type14 .checkout-info {
        font-size: 11px;
    }
    /* end CHECKOUT TYPE */

    /* ELEMENTS */
    .separator {
        padding-left: 0;
        text-align: center;
    }
    .checkbox-14, .checkbox-30 {
        top: 3px;
    }
    /* end ELEMENTS */
}

@media screen and (min-width: 930px) and (-webkit-min-device-pixel-ratio:2), screen and (min-width: 930px) and (min--moz-device-pixel-ratio: 2) {

    /* HEADER */body{background: red;}
    #logo {
        top: 16px;
        left: 46px;
        width: 142px;
        height: 107px;
        background: url("images/a2xlogo_topleft@2x.png") top left no-repeat;
    }

    #phone-icon-left {
        top: 7px;
        left: 10px;
        width: 86px;
        height: 86px;
        background: url("images/header_phone_white@2x.png") top left no-repeat;
        display: none;
    }
    /* end HEADER */
}
/* end MEDIA QUERIES */